/* styles.css for home and recipe pages */
* {
  box-sizing: border-box;
}

/* Page background lightgrey */
body {
  background-color: lightgrey;
}

.flex-container {
  width: 80%;
  min-height: 300px;
  /* center */
  margin: 0 auto;
  display: flex;
  /* wrap onto a new line */
  flex-wrap: wrap;
  border: double 10px black;
}

.flex-container .column {
  padding: 10px;
  background: #dbdfe5;
}

.column.first {
  text-align: center;
  background: blueviolet;
  flex-basis: 100%;
}

/* Split the columns evenly across */
.column.second {
  flex-basis: calc(100%/3);
}

.column.third {
  background: #b4bac0;
  flex-basis: calc(100%/3);
}

.column.fourth {
  background-color: #6eeaec;
  flex-basis: calc(100%/3);
}

#home-title,
#recipe-ul {
  text-align: center;
  font-family: sans-serif, 'Times New Roman', Times, serif;
}

/* center the ul, remove bullets */
#recipe-ul{
  font-size: 22px;
  list-style-type: none;
  /* Remove offset from missing bullets */
  padding: 0;
  margin: 0;
}

.title-img {
  height: 75px;
  width: auto;
  text-align: center;
  margin: 0 1em;
}

/* Uncomment to see box model around all elements */
/* * {
  outline: 2px solid red;
} */
