/* styles.css for box-playground page */

/* Set all elements to have no innate margin or padding + border-box */
* {
  margin: 0;
  padding: 0;
  font-size: 40px;
  box-sizing: border-box;
  background-color: lightgray;
}
  
a {
  font-size: 30px;
}

div {
  display: block;
}

/* Resource 1 */
.box-one {
  background-color: #EB5757;

  padding: 10px;
  border: 30px solid #9851E0;
  margin: 60px;

  height: 200px;
  width: 200px;

  font-size: 30px;
}

.box-two {
  background-color: #2D9CDB;

  padding: 10px;
  border: 30px solid #27AE60;

  /* 
    -margin collapses between two boxes that share the same margin
    -the margin between the boxes is the margin value greatest between the two boxes 
  */
  margin: 60px;

  height: 200px;
  width: 200px;

  font-size: 30px;
}

/* Resource 2 */
.box-1 {
  background-color: white;

  box-sizing: content-box;
  width: 700px;
  height: 300px;

  padding: 50px;
  border: 30px solid black;
}

.box-2 {
  box-sizing: border-box;
  background-color: white;
  width: 700px;
  height: 300px;

  padding: 50px;
  border: 30px solid black;
}

/* Resource 3 (MDN Documentation) */
/* Examples of Different Display Types */
.r3p,
.r3ul {
  border: 2px solid rebeccapurple;
  padding: .5em;
  list-style: none;
}

.block,
.r3li {
  border: 2px solid blue;
  padding: .5em;
}

.ul-flex {
  list-style: none;
  padding: 1em;
  display: flex;
}

.block {
  display: block;
}

/* Resource 4 */